.button {
  background-color: #a89b32; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body {
    background-image: url("https://i.pinimg.com/originals/ce/d2/00/ced20032c851a0db85d90411a9a21b08.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   repeat;
    background-position: center center;              /* optional, center the image */
}

.div1 {
  height: 120px;
  width: 1000px;
  background-color: powderblue;
}

.div2 {
  height: 605px;
  width: 1000px;
  background-color: powderblue;
}

.center {
  margin: auto;
  padding: 10px;
}

.hide{
    visibility: hidden;
}

.countup {
  text-align: center;
  margin-bottom: 20px;
}

.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}

.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#rcorners1 {
  border-radius: 25px;
}
